table.comparison-table {
    border-collapse:collapse;
}

table.comparison-table tr th {
    text-align: center;
    font-size: 12px;
    padding: 4px;
}

table.comparison-table tr:nth-child(2n) td {
    background-color: #eee;
}

table.comparison-table tr td {
    text-align: center;
}

table.comparison-table tr td span {
    font-size: 16px;
}

table.comparison-table tr td span.good {
    color: green;
}

table.comparison-table tr td span.bad {
    color: red;
}

table.comparison-table tr td:first-child {
    text-align: start;
}