[
  {
    "browser": "brave",
    "path": "/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
  },
  {
    "browser": "firefox",
    "path": "/Applications/Firefox Nightly.app/Contents/MacOS/firefox-bin",
    "prefs": {"privacy.partition.network_state": false}
  },
  {
    "browser": "firefox",
    "path": "/Applications/Firefox Nightly.app/Contents/MacOS/firefox-bin",
    "prefs": {"privacy.resistFingerprinting": true,
              "privacy.firstparty.isolate": true}
  },
  {
    "browser": "tor browser",
    "path": "/Applications/Tor Browser.app/Contents/MacOS/firefox"
  },
  {
    "browser": "safari",
    "path": "/Applications/Safari.app"
  },
  {
    "browser": "chrome",
    "path": "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
  },
  {
    "browser": "edge",
    "path": "/Applications/Microsoft Edge.app/Contents/MacOS/Microsoft Edge"
  }
]
