[
  {
    "browser": "firefox",
    "path": "/Applications/Firefox Nightly.app"
  },
  {
    "browser": "firefox",
    "path": "/Applications/Firefox Nightly.app",
    "prefs": {"privacy.resistFingerprinting": true,
              "privacy.firstparty.isolate": true}
  },
  {
    "browser": "firefox",
    "path": "/Applications/Firefox Nightly.app",
    "prefs": {"network.cookie.cookieBehavior": 5}
  },
  {
    "browser": "tor browser",
    "path": "/Applications/Tor Browser.app/Contents/MacOS/firefox"
  },
  {
    "browser": "safari",
    "path": "/Applications/Safari.app"
  },
  {
    "browser": "chrome",
    "path": "/Applications/Chrome.app"
  },
  {
    "browser": "edge",
    "path": "/Applications/Microsoft Edge.app/Contents/MacOS/Microsoft Edge"
  },
  {
    "browser": "brave",
    "path": "/Applications/Brave Browser Beta.app/Contents/MacOS/Brave Browser Beta"
  }
]
