body {
  font-family: sans-serif;
  margin:0px;
  display: flex;
  flex-direction: row;
}

.gutter {
  flex-grow: 1;
}

.wrapper {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
}

.header {
  background-color: #eee;
 /* border-bottom: darkgreen 1px solid; */
  color: rgb(80, 80, 80);
  /*display:table-cell;*/
  display: flex;
  /*flex-flow: row wrap;*/
  flex-direction: row;
  font-family: sans-serif;
  align-items: center;
  overflow: hidden;
  padding: 20px 18px;
  position: relative;
  top: 0px;
  /*margin: 0px auto;*/
  vertical-align: top;
 /* z-index: 4;*/
}

.header div.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header div.title {
  display: flex;
  font-size: 28px;
  font-weight:bold;
  font-family: sans-serif;
  flex-grow: 0;
  align-items: center;
}

.header div.title a {
  display: flex;
  align-items: center;
}
.header div.title img {
  padding-right: 16px;
}

.header .title-wrapper div.version {
  font-size: 14px;
  padding-top: 8px;
}

.header div.links {
  align-items: center;
  flex-grow: 1;
  display:flex;
  flex-direction: row;
  justify-content: right;
  -webkit-justify-content: flex-end;
  padding: 0px 0px;
  opacity: 85%;
}

.header div.link-header {
  display: table-cell;
  font-weight: bold;
  padding: 0px 15px;
  font-size: 16px;
}

.header a {
  text-decoration: none;
  color:black;
}

.title {
  font-weight: bold;
  margin: 0px -1px;
  text-align: left;
  padding-left: 0px;
  padding-right: 20px;
}

blockquote {
  font-style: italic;
  font-size: 16px;
}

.copy {
  padding: 20px 100px;
  margin: auto;
}

.copy p {
  padding: 0.2em 0;
  line-height: 1.3em;
}

p.footer {
  padding: 0px 20px;
}

h1.title {
  text-transform: none;
}