.content-container {
  padding: 20px;
  text-align: center;
}
#run-test {
  color: white;
  background-color: red;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 32px;
  cursor:pointer;
}
#run-test:active {
  background-color: #D00;
}