table.comparison-table {
  border-collapse:collapse;
  margin-top: 10px;
  position: relative;
  margin: 10px 10px;
}
table.comparison-table tr th.table-header {
  background-color: white;
  text-align: center;
  word-break: break-all;  
  vertical-align: top;
  top: 0px;
  font-size: 12px;
  font-weight: normal;
  table-layout: fixed;
  width: 120px;
  position: sticky;
  position: -webkit-sticky;
  padding: 10px 0px;
  text-transform: capitalize;
  z-index: 1;
}
table.comparison-table .subtitle {
  text-align: left;
  text-transform: lowercase;
  font-size: 14px;
  padding-top: 10px;
  line-height: 22px;
  color: gray
}
table.comparison-table tr th.table-header:not(:first-child) {
  white-space: nowrap;
}
table.comparison-table tr:first-child th:first-child {
  z-index: 2;
}
table.comparison-table tr:nth-child(2n+1) td {
  background-color: #eee;
}
table.comparison-table tr:nth-child(2n) td {
  background-color: white;
}
table.comparison-table tr td {
  min-width: 49px;
  max-width: 49px;
  height: 26px;
  padding: 0px;
  text-align: center;
}
table.comparison-table .subheading {
  padding-top: 30px;
  padding-bottom: 5px;
  font-weight: bold;
  display: table-cell;
}
table.comparison-table .subheading > div {
  display: flex;
  flex-direction: column;
}
table.comparison-table .subheading-title {
  font-size: 18px;
  color:#222;
}
table.comparison-table .subheading .tagline {
  font-weight: normal;
  font-size: 16px;
  color:#222;
  padding: 8px 0px;
}
table.comparison-table .first.subheading {
  padding-top: 10px;
}
.good, .bad, .na {
  font-size: 16px;
}
.good {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='245.353' height='196.632' fill='%23009edc'%3E%3Cpath d='M831.592 57.676h49.588v228.491h-49.588z' style='fill:%2303a904;stroke:none' transform='rotate(45 590.562 -721.141)'/%3E%3Cpath d='M236.579-881.18h49.588v118.491h-49.588z' style='fill:%2303a904;stroke:none' transform='rotate(135 -38.246 -384.189)'/%3E%3C/svg%3E");
  width: 12px;
}
.bad {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187.124' height='187.124' fill='%23009edc'%3E%3Cg transform='translate(-9.232 -1.218)'%3E%3Crect width='38.255' height='227.157' x='-24.794' y='-253.285' ry='.667' style='fill:%23d10000;stroke:none' transform='rotate(135)'/%3E%3Crect width='38.255' height='227.157' x='-158.834' y='-107.912' ry='.667' style='fill:%23d10000;stroke:none' transform='rotate(-135)'/%3E%3C/g%3E%3C/svg%3E");
  width: 10px;
}
.na {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='50'%3E%3Cpath d='M0 0h250v50H0z' style='fill:%2303a904;stroke:none'/%3E%3C/svg%3E");
  width: 10px;
}
table.comparison-table tr td:first-child,th:first-child {
  text-align: left;
  left: 0px;
  padding-left: 8px;
/*  position: sticky;
  position: -webkit-sticky;*/
}
table.comparison-table tr td:first-child {
  max-width: 150px;
  min-width: 150px;
 /* font-size: 16px;*/
}
table.comparison-table .title {
  padding-left: 8px;
}
table.comparison-table .table-title {
  word-break: normal;
  font-size: 22px;
  text-align: left;
}
table.comparison-table .date {
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
  color: rgb(70, 70, 70);
}
.banner {
  padding: 10px;
  flex-direction: row;
  display: flex;
}
#issueBanner, #coiBanner {
  font-style: italic;
  font-size: 16px;
}
#coiBanner {
  border-bottom: 1px lightgray solid;
  text-align: center;
  display: block;
}
#navBanner {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px lightgray solid;
  justify-content: center;
  align-content: stretch;
}
#navBanner a {
  text-decoration: none;
}
.navItem:hover {
  opacity: 100%;
}
.navItem {
  padding: 4px 0px 4px 0px;
  margin: 0px 10px;
  text-align: center;
}
.selectedItem {
  font-weight: bold;
  border-bottom: 4px #a9e6a9 solid;
}
.navItem:not(.selectedItem) {
  opacity: 60%;
}
.navItem:hover {
  opacity: 100%;
}
#legend {
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  align-content: stretch;
  vertical-align: top;
}
#key {
    display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  align-content: stretch;
  vertical-align: top;
}
#key div {
  padding: 0px 10px;
  vertical-align: top;
}
#legend .marker {
  display: inline-block;
  transform: scale(1.1);
  padding: 0px 1px;
  vertical-align: middle;
}
#instructions {
  font-size: 16px;
  justify-content: center;
  align-content: stretch;
  vertical-align: top;
  border-bottom:  lightgray dotted 1px;
}
.banner .click-anywhere {
  color: gray;
  font-size: 14px;
  display: inline-block;
}
.dataPoint {
  display: inline-block;
  padding: 6px 0px;
  vertical-align: middle;
}
.left-heading {
  text-align: start;
  width: 25%;
}
.middle-heading {
  text-align: center;
  width: 50%;
}
.right-heading {
  text-align: end;
  width: 25%
}
.tooltipParent {
  cursor: pointer;
}
.tooltipText {
  background-color: #fffff7;
  border-radius: 4px;
  border: 1px solid gray;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  max-width: 400px;
  opacity: 0.97;
  padding: 20px;
  position:absolute;
  text-align: start;
  transform: translate(0px, -12px);
  display: none;
  white-space: pre-wrap;
  width: max-content;
  z-index: 1;
}
.browser-logo-image {
  border-radius: 6px;
  width: 32px;
  height: 32px;
}
