.error_message {
    background-color: pink;
    font-family: mono;
    padding: 3px;
    margin: 2px;
    border: 1px solid red;
}
#test_results div {
    margin: 2px;
    padding: 3px;
    font-family: mono;
}
.test_pass {
    background-color: lightGreen;
}
.test_fail {
    background-color: pink;
}
