[
  {
    "browser": "chromium",
    "path": "/usr/bin/chromium-browser"
  },
  {
    "browser": "cliqz",
    "path": "/usr/local/bin/cliqz"
  },
  {
    "browser": "firefox",
    "path": "/usr/bin/firefox"
  },
  {
    "browser": "tor browser",
    "path": "/home/arthur/tor-browser_en-US/Browser/firefox"
  },
  {
    "disable" : true,
    "service": "browserstack"
  }
]
